@* Dodany identyfikator dzieki ktoremu wartość route nadana przez rodzica przekazywana jest jako koncówka URL. Ograniczenie :int jest opcjonalne *@
@page "{thingId:int}"

@model TheThings_FirstAspApp.Pages.Things.DetailModel

@{
    // ViewData dictionary to sturkutra do której mamy dostęp wszędzie - w tym konkretnym przypadku ustawiamy klucz Title z którego korzysta _Layout
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

@* Flash msg można zbindować recznie, jak niżej lub za pomocą model bindingu
    @if (TempData["Message"] != null)
    {
     <div class="alert alert-danger">@TempData["msg"]</div>
    }*@

@if (Model.Message != null)
{
    <div class="alert alert-danger">@Model.Message</div>
}

<div>
    <div>Id: @Model.Thing.Id</div>
    <div>Name: @Model.Thing.Name</div>
    <div>Location: @Model.Thing.Location</div>
    <div>Type: @Model.Thing.Type</div>
</div>
<br />
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-thingId="@Model.Thing.Id">Edit thing!</a>
    <a class="btn btn-danger" asp-page="./Delete" asp-route-thingId="@Model.Thing.Id">Delete thing!</a>
</div>
