@page
@model TheThings_FirstAspApp.Pages.Things.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>List of Things</h2>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                   asp-for="SearchTerm">
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary">Search</button>
            </span>
        </div>
    </div>
</form>

<div>
    <table class="table">
        @foreach (var thing in Model.Things)
        {
            <tr>
                <td>
                    @* Domyślnie asp-route przekazuje attrybut routa jako query string i do metody OnGET(). W momencie kiedy w otwieranym page'u w dyrektywie @page dodamy wypisany tutaj identyfikator 
                        tj. thingId to wartość jest przekazywana jako końcówka URL oraz do metody OnGET() *@
                    <a asp-page="./Detail" asp-route-thingId="@thing.Id">@thing.Name</a>
                </td>
                <td>@thing.Location</td>
                <td>@thing.Type</td>
            </tr>
        }
    </table>
</div>
<div>
    @Model.ConfigMsg
</div>



